In [2]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv(r"D:\phone_data.csv")

In [6]:
df

     index            date  duration  item    month   network network_type
0        0  15/10/14 06:58    34.429  data  2014-11      data         data
1        1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2        2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3        3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4        4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile
..     ...             ...       ...   ...      ...       ...          ...
825    825  13/03/15 00:38     1.000   sms  2015-03     world        world
826    826  13/03/15 00:39     1.000   sms  2015-03  Vodafone       mobile
827    827  13/03/15 06:58    34.429  data  2015-03      data         data
828    828  14/03/15 00:13     1.000   sms  2015-03     world        world
829    829  14/03/15 00:16     1.000   sms  2015-03     world        world

[830 rows x 7 columns]

# Q1 What was the longest phone call / data entry?

In [5]:
df[df.item == "call"].duration.max()

10528.0

# Q2 How many seconds of phone calls are recorded in total?

In [6]:
df[df.item == "call"].duration.sum()

92321.0

# Q3 How many entries are there for each month?

In [7]:
pd.value_counts(df["month"])

2014-11    230
2015-01    205
2014-12    157
2015-02    137
2015-03    101
Name: month, dtype: int64

# Q4 Number of non-null unique network entries.

In [8]:
df["network"].nunique()

9

# Q5 Get the first entry for each month.

In [9]:
df.groupby("month").first()

         index            date  duration  item   network network_type
month
2014-11      0  15/10/14 06:58    34.429  data      data         data
2014-12    228  13/11/14 06:58    34.429  data      data         data
2015-01    381  13/12/14 06:58    34.429  data      data         data
2015-02    577  13/01/15 06:58    34.429  data      data         data
2015-03    729  12/02/15 20:15    69.000  call  landline     landline

# Q6 Get the sum of the durations per month.

In [10]:
df_6 = df.groupby("month")["duration"].agg(["sum"] )
df_6.rename(columns = {"sum" : "sum of duration" })

         sum of duration
month
2014-11        26639.441
2014-12        14641.870
2015-01        18223.299
2015-02        15522.299
2015-03        22750.441

# Q7 Get the number of dates / entries in each month.

In [11]:
Same as Question third


# Q8 What is the sum of durations, for calls only, to each network?

In [12]:
df_8 = df[df.item == "call"].groupby("network")["duration"].agg("sum") 
df_8

network
Meteor        7200.0
Tesco        13828.0
Three        36464.0
Vodafone     14621.0
landline     18433.0
voicemail     1775.0
Name: duration, dtype: float64

# Q9 How many calls, sms, and data entries are in each month?

In [13]:
df.groupby(["month","item"])["item"].count()

month    item
2014-11  call    107
         data     29
         sms      94
2014-12  call     79
         data     30
         sms      48
2015-01  call     88
         data     31
         sms      86
2015-02  call     67
         data     31
         sms      39
2015-03  call     47
         data     29
         sms      25
Name: item, dtype: int64

# Q10 How many calls, texts, and data are sent per month, split by network_type?

In [14]:
df.groupby(["month","network_type"])["item"].count()

month    network_type
2014-11  data             29
         landline          5
         mobile          189
         special           1
         voicemail         6
2014-12  data             30
         landline          7
         mobile          108
         voicemail         8
         world             4
2015-01  data             31
         landline         11
         mobile          160
         voicemail         3
2015-02  data             31
         landline          8
         mobile           90
         special           2
         voicemail         6
2015-03  data             29
         landline         11
         mobile           54
         voicemail         4
         world             3
Name: item, dtype: int64

# Q11 Group the data frame by month and item and extract a number of stats from each group.

In [15]:
df.groupby(["month","item",]).duration.agg(["max","min","sum","mean"])

                    max     min        sum        mean
month   item
2014-11 call   1940.000   1.000  25547.000  238.757009
        data     34.429  34.429    998.441   34.429000
        sms       1.000   1.000     94.000    1.000000
2014-12 call   2120.000   2.000  13561.000  171.658228
        data     34.429  34.429   1032.870   34.429000
        sms       1.000   1.000     48.000    1.000000
2015-01 call   1859.000   2.000  17070.000  193.977273
        data     34.429  34.429   1067.299   34.429000
        sms       1.000   1.000     86.000    1.000000
2015-02 call   1863.000   1.000  14416.000  215.164179
        data     34.429  34.429   1067.299   34.429000
        sms       1.000   1.000     39.000    1.000000
2015-03 call  10528.000   2.000  21727.000  462.276596
        data     34.429  34.429    998.441   34.429000
        sms       1.000   1.000     25.000    1.000000

# Q12 Define the aggregation procedure outside of the groupby operation.

In [8]:
df["duration"].describe()

count      830.000000
mean       117.804036
std        444.129560
min          1.000000
25%          1.000000
50%         24.500000
75%         55.000000
max      10528.000000
Name: duration, dtype: float64

# Q13 Find no. of calls for each network whose duration is less than 10 sec.

In [7]:
df[(df.duration < 10) & (df.item == "call")].groupby("network").duration.count()

network
Meteor       16
Tesco        11
Three        31
Vodafone     21
landline      7
voicemail     2
Name: duration, dtype: int64